html *
{
   font-family: Avenir;
   border: 0;
}

.prestaging-container {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: auto;
    width: 50%;
}

/*
******************************
**                          **
**    Deals with sliders    **
**                          **
******************************
*/

.slider-container {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    display: inline-block;
    border: 1px dotted grey;
}

.slider-item {
    vertical-align: center;
}

label.slider-item {
    margin: 0;
}

#my_num_row > div > div > div {
    width: 100px;
}

div.slider-item {
    margin-top: 0;
}

/*
********************************
**                            **
**    Deals with timeplots    **
**                            **
********************************
*/


.timeplot-container {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    display: inline-block;
    flex-direction: row;
}

.timeplot-item {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.draggable { 
    padding: 0.5em; 
}